@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.float-r {
    float: right;
}
.display-b {
    display: block;
}
.display-ib {
    display: inline-block;
}
.display-f {
    display: flex;
}
.pname-al {
    position: absolute;
    top: 5px;
}
.uinf-al {
    justify-content: left;
    align-items: center;
}
.uinf-m {
    margin-left: 10px;
}
.pname-m {
    margin: 0 0 20px 10px;
}
body {
    margin: 0;
    align-content: center;
    height: 100%;
    width: 100%;
}
header {
    background-color:#090974;
    color: white;
    width: 100%;
    height: 52px;
    padding: 12px 0;
    margin-bottom: 30px;
}
#logo {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 7px 2px 8px 38px;
    float: left;
}
@media screen and (max-width: 530px){
    .uimg {
        display: none;
    }
    #logo {
        font-size: 22px;
        margin-top: 12px;
        margin-left: 15px;
    }
    .signin {
        font-size: 18px;
        width: 80px;
        height: 40px;
        margin-top: 6px;
        margin-right: 15px;
    }
    #myname {
        font-size: 20px;
        margin-top: 14px;
        margin-right: 16px;
    }
    #load {
        margin: 10px 0;
    }
}
@media screen and (min-width: 531px){
    .signin {
        font-size: 22px;
        width: 140px;
        height: 52px;
        margin-right: 20px;
    }
    #load {
        margin: 10px 10px 30px 0;
    }
    #myname {
        font-size: 24px;
        margin-top: 12px;
        margin-right: 20px;
    }
}
.signin {
    text-align: center;
    color: white;
    background-color: #4F4FD9;
    border: none;
    float: right;
}
#myname {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: left;
    float: right;
    margin-left: 10px;
}
.uimg {
    height: 100%;
    width: 100%;
    max-height: 46px;
    max-width: 46px;
    margin: 3px 10px 3px 0;
}
#main {
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 80%;
    min-width: 310px;
    height: 100%;
    margin: auto;
}
@media screen and (max-width: 829px) {
    .filter {
        width: 420px;
        margin-right: 0;
    }
    .feed {
        max-width: 420px;
        margin-right: 0;
    }
    .rcol {
        order: 2;
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
    }
    .adp {
        width: inherit;
        max-width: 420px;
    }
    #main {
        width: 95%;
    }
    footer {
        font-size: 10px;
        padding: 14px 0;
    }
}
@media screen and (min-width: 830px) {
    .filter {
        width: 40%;
        min-width: 250px;
        max-width: 420px;
        margin-right: 20px;
    }
    .feed {
        min-width: 300px;
        width: 90%;
        max-width: 90%;
        margin-right: 10px;
    }
    #main {
        flex-wrap: nowrap;
    }
    .rcol {
        order: 4;
        margin-left: 10px;
        max-width: 27%;
    }
    .adp {
        min-width: 100px;
    }
    footer {
        font-size: 12px;
        padding: 17px 0;
    }
}
@media screen and (max-width: 1100px){
    .uinf {
        display: none;
    }
}
@media screen and (min-width: 1101px){
    .feed {
        width: 40%;
        max-width: 40%;
    }
    .adp {
        min-width: 280px;
        max-width: 420px;
        width: 100%;
        padding: 0 10px;
    }
    .rcol {
        min-width: 300px;
    }
}
@media screen and (max-width: 1500px){
    #main {
        width: 95%;
    }
}
.filter {
    order: 1;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0;
    margin-bottom: 20px;
    border: solid 2px #4F4FD9;
    height: max-content;
}
.input {
    width: 80%;
    height: 95%;
    margin: auto;
    border: none;
    padding: 2.5% 10%;
}
.elname {
    text-align: center;
    font-size: 22px;
    margin: 10px 0;
}
#author, #date {
    border-radius: 5px;
    border-style: solid;
    border-color: #8C8C8C;
    width: 100%;
    max-width: 75%;
}

label {
    font-size: 16px;
    text-align: left;
    margin: 5px 0;
}
input {
    text-align: left;
    margin: 5px 0;
}
#tf {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    border-radius: 5px;
    border-style: solid;
    border-color: #8C8C8C;
    width: 100%;
    max-width: 50%;
    margin: 10px 0;
    font-size: 20px;
}
.tag {
    background-color: #DADADA;
    border-style: solid;
    border-color: #8C8C8C;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    padding: 0 3px;
    margin: 5px 5px 3px 0;
}
#tags {
    flex-wrap: wrap;
    margin: 3px;
}
#add {
    background-color: #7373D9;
    border: solid 1px #090974;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
    position: relative;
    bottom: 2px;
}
#apply {
    background-color: #7373D9;
    border: solid 1px #090974;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 22px;
    height: 50px;
    width: 100px;
}
.feed {
    order: 3;
    display: inline;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
.post {
    box-sizing: border-box;
    width: 100%;
    min-width: 300px;
    border: solid #8C8C8C 2px;
    border-radius: 10px;
    margin: 0 10px 20px 0;
    padding: 0 10px;
    font-size: 16px;

}
.phead {
    position: relative;
    top: 10px;
}
.pimg {
    max-width: 50px;
    border-radius: 80px;
}
.uname {
    display: inline;
    font-size: 22px;
    text-align: left;
}
.date {
    color: #4D4D4D;
    text-align: left;
    margin: 12px 10px;
}
.att {
    display: block;
    max-height: 300px;
    max-width: 300px;
    width: inherit;
    margin: 5px 0;
}
.text {
    text-align: left;
    margin: 5px;
}
.bot {
    margin: 10px 0;
}
.like {
    border: none;
    background-color: white;
    margin: 0 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.edit {
    float: right;
    background-color: #1B1BB3;
    border-radius: 8px;
    border:solid 1px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    margin-right: 10px;
    padding: 1px 10px;
}
.del {
    float: right;
    background-color: #313186;
    border-radius: 8px;
    border:solid 1px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    padding: 1px 10px;
    margin-right: 10px;
}
#load {
    box-sizing: border-box;
    width: 100%;
    min-width: 300px;
    border: none;
    background-color: #7373D9;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    height: 50px;
}
.rcol {
    min-width: fit-content;
}
.uinf {
    box-sizing: border-box;
    border: solid 2px #4F4FD9;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    min-width: 300px;
    max-width: 420px;
    width: 100%;
    margin-bottom: 10px;
}
.adp {
    background-color: #1B1BB3;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: none;
    height: 40px;
}
footer{
    width: 100%;
    max-height: 52px;
    min-width: 300px;
    bottom: 0;
    background-color: #FFDC73;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 2px;
}
